---
import { t, setCurrentLocale } from '../i18n/utils';

// Set the current locale
const currentLocale = Astro.currentLocale || 'nl';
setCurrentLocale(currentLocale);

const churchLocationUrl = "https://maps.app.goo.gl/AXGPccTVMRjiZpcS8";
const venueLocationUrl = "https://maps.app.goo.gl/N7UPNPzJqzXVYJZa8"
const keroncongURL = "https://youtu.be/SbEuCjx9tU4?si=lf7yKD-10Lr5eaLe";
---

<section class="event-details">
    <div class="section-header">
        <h2>{t('nav.eventDetails')}</h2>
        <div class="divider"></div>
    </div>

    <div class="events-container">
        <div class="event-card">
            <div class="event-icon">
                <svg  viewBox="0 0 38 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36.8991 22.2188L20.1952 7.6256C19.609 7.11241 18.7384 7.11241 18.1522 7.6256L1.44831 22.2188C0.798906 22.7855 0.733282 23.7681 1.29752 24.4174C1.86421 25.0644 2.84681 25.1325 3.49615 24.5658L19.174 10.8679L34.8518 24.5658C35.1388 24.8114 35.5036 24.9452 35.8781 24.9476C36.3281 24.9501 36.7562 24.7555 37.0504 24.4174C37.3228 24.1061 37.459 23.7 37.4298 23.2865C37.4031 22.8755 37.2104 22.4912 36.8991 22.2188Z" fill="white"/>
                    <path d="M33.2312 19.524C32.8202 19.5216 32.4213 19.6845 32.1295 19.9764C31.8376 20.2707 31.6746 20.6671 31.6746 21.0805V41.0047H6.67231V21.0805C6.67231 20.2196 5.97428 19.524 5.11574 19.524C4.25477 19.524 3.55916 20.2196 3.55916 21.0805V42.5538C3.55916 42.9673 3.72212 43.3637 4.01398 43.6556C4.30584 43.9474 4.7023 44.1104 5.11572 44.1104H33.2312C33.6447 44.1104 34.0411 43.9474 34.3329 43.6556C34.6248 43.3637 34.7878 42.9672 34.7878 42.5538V21.0805C34.7878 20.6671 34.6248 20.2706 34.3329 19.9788C34.0411 19.687 33.6446 19.524 33.2312 19.524Z" fill="white"/>
                    <path d="M19.1735 0.166504C18.3149 0.166504 17.6169 0.862106 17.6169 1.72308V8.80051C17.6169 9.66149 18.3149 10.3571 19.1735 10.3571C20.032 10.3571 20.73 9.66149 20.73 8.80051V1.72308C20.73 1.30962 20.5671 0.913161 20.2752 0.621335C19.9834 0.329508 19.5869 0.166504 19.1735 0.166504Z" fill="white"/>
                    <path d="M22.1116 3.09967H16.2356C15.3746 3.09967 14.679 3.79528 14.679 4.65625C14.679 5.51479 15.3746 6.21282 16.2356 6.21282H22.1141H22.1116C22.9726 6.21282 23.6682 5.51479 23.6682 4.65625C23.6682 3.79528 22.9726 3.09967 22.1116 3.09967Z" fill="white"/>
                    <path d="M23.6682 28.1095H14.6787C13.8177 28.1095 13.1221 28.8075 13.1221 29.666V42.5538C13.1221 43.4148 13.8177 44.1104 14.6787 44.1104C15.5372 44.1104 16.2353 43.4148 16.2353 42.5538V31.2226H22.1138V42.5538H22.1113C22.1113 43.4148 22.8094 44.1104 23.6679 44.1104C24.5289 44.1104 25.2245 43.4148 25.2245 42.5538V29.666C25.2245 29.2526 25.0615 28.8585 24.7697 28.5643C24.4778 28.2724 24.0817 28.1095 23.6682 28.1095Z" fill="white"/>
                    </svg>                    
            </div>
            <h3>{t('events.title')}</h3>
            <p class="event-time">{t('events.ceremony.time')}</p>
            <p class="event-location">
                <a href={churchLocationUrl} target="_blank" rel="noopener noreferrer">
                    {t('events.ceremony.location')}
                </a>
            </p>
            <p class="event-description">
                {t('events.ceremony.description')}
            </p>
            <div class="map-container">
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3959.828331124284!2d110.4552295!3d-7.0294547!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e708c4698ae29e1%3A0xa47b12321eee519c!2sSaint%20Peter%20Catholic%20Church%2C%20Sambiroto!5e0!3m2!1sen!2sid!4v1746105970213!5m2!1sen!2sid"
                        width="100%"
                        height="200"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>

        <div class="event-card">
            <div class="event-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M17 3a2.85 2.85 0 1 1 0 5.7"></path>
                    <path d="M10 3a2.85 2.85 0 1 1 0 5.7"></path>
                    <path d="M21 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <path d="M14 13a4 4 0 1 0-8 0v1h8z"></path>
                </svg>
            </div>
            <h3>{t('events.reception.title')}</h3>
            <p class="event-time">{t('events.reception.time')}</p>
            <p class="event-location">
                <a href={venueLocationUrl} target="_blank" rel="noopener noreferrer">{t('events.reception.location')}</a></p>
            <p class="event-description">
                {t('events.reception.description')} <a href={keroncongURL} target="_blank" rel="noopener noreferrer" style="color: rgb(66, 64, 64);">Keroncong style</a>.
            </p>
            <div class="map-container">
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3959.9400158428393!2d110.4201166!3d-7.016337!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e708b5844fd9841%3A0x9af9a992c52c211a!2sGrand%20Candi%20Hotel!5e0!3m2!1sen!2sid!4v1746106036790!5m2!1sen!2sid"
                        width="100%"
                        height="200"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p style="font-size: 1.1em;">{t('events.dresscode.description')}<a href={t('events.dresscode.url')} target="_blank" rel="noopener noreferrer" style="color: rgb(66, 64, 64);">{t('events.dresscode.descriptionpart2')}</a></p>
    </div>
    <!-- <div class="map-container">
        <h3>Location</h3>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126715.80811299356!2d110.33462282321103!3d-6.9903430016397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e708b4d3f0d024d%3A0x1e0432b9da5cb9f2!2sSemarang%2C%20Semarang%20City%2C%20Central%20Java%2C%20Indonesia!5e0!3m2!1sen!2sus!4v1649825200000!5m2!1sen!2sus"
                width="100%"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div> -->
</section>

<style>
    .event-details {
        padding: 5rem 1rem;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        background-color: var(--background-color);
    }

    .section-header {
        margin-bottom: 3rem;
    }

    .section-header h2 {
        font-size: 2.5rem;
        color: var(--primary-color);
        margin-bottom: 1rem;
    }

    .divider {
        width: 100px;
        height: 2px;
        background-color: var(--secondary-color);
        margin: 0 auto;
    }

    .events-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 4rem;
    }

    .event-card {
        flex: 1;
        max-width: 500px;
        padding: 2rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .event-card:hover {
        transform: translateY(-10px);
    }

    .event-icon {
        width: 60px;
        height: 60px;
        margin: 0 auto 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        color: white;
        border-radius: 50%;
    }

    .event-icon svg {
        width: 30px;
        height: 30px;
    }

    .event-card h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--primary-color);
    }

    .event-time {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .event-location {
        font-weight: 600;
        color: var(--secondary-color);
        margin-bottom: 0.5rem;
    }

    .event-location a {
    color: var(--secondary-color); /* Apply the orange color to the link */
    text-decoration: none; /* Remove the default underline for links if you prefer */
    }

    .event-address {
        font-style: italic;
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }

    .event-address a {
        color: #666;
        font-style: italic;
        margin-bottom: 1rem;
        font-size: 0.9rem;
      }

    .event-description {
        line-height: 1.6;
        text-align: center;
    }

    .map-container {
        margin-top: 3rem;
    }

    .map-container h3 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        color: var(--primary-color);
    }

    .map {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 768px) {
        .events-container {
            flex-direction: column;
            align-items: center;
        }

        .event-card {
            margin-bottom: 2rem;
        }
    }
</style>
